<section class="vh-90 py-5">
  <app-star TitleStar="Contact component" customColor="#2c3e50"></app-star>
  <form action="" class="w-50 m-auto">
    <!-- username -->
    <label
      for="userName"
      class="text-sec position-relative top-0 my-2"
      [class.top-40]="!userName.length"
      >userName :
    </label>
    <input
      type="text"
      placeholder="userName"
      name="userName"
      id="userName"
      [(ngModel)]="userName"
      class="form-control my-2 shadow-none border-start-0 border-top-0 rounded-0 border-end-0 position-relative"
    />
    <!-- userage -->
    <label
      for="userAge"
      class="text-sec position-relative top-0 my-2"
      [class.top-40]="!userAge"
      >userAge :
    </label>
    <input
      type="number"
      placeholder="userAge"
      name="userAge"
      id="userAge"
      [(ngModel)]="userAge"
      class="form-control my-2 shadow-none border-start-0 border-top-0 rounded-0 border-end-0 position-relative"
    />
    <!-- useremail -->
    <label
      for="userEmail"
      class="text-sec position-relative top-0 my-2"
      [class.top-40]="!userEmail.length"
      >userEmail :
    </label>
    <input
      type="text"
      placeholder="userEmail"
      name="userEmail"
      id="userEmail"
      [(ngModel)]="userEmail"
      class="form-control my-2 shadow-none border-start-0 border-top-0 rounded-0 border-end-0 position-relative"
    />
    <!-- userpass -->
    <label
      for="userPassword"
      class="text-sec position-relative top-0 my-2"
      [class.top-40]="!userPassword.length"
      >userPassword :
    </label>
    <input
      type="text"
      placeholder="userPassword"
      name="userPassword"
      id="userPassword"
      [(ngModel)]="userPassword"
      class="form-control my-2 shadow-none border-start-0 border-top-0 rounded-0 border-end-0 position-relative"
    />

    <button class="btn-main text-capitalize my-4 d-block ms-auto">
      send massage
    </button>
  </form>
</section>
